# Database
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/ict_equipment?createDatabaseIfNotExist=true
MYSQLUSER=
MYSQLPASSWORD=

# JWT
JWT_SECRET=tiZBHm9VVrD89GtXDfiSaQ9NFPo5nRHUoaOqGq5UtQWJM/G9MkaWDuK5irX6wqbgC7unu/TMFZPXXTINqVfIyw==

# CORS
CORS_ALLOWED_ORIGINS=:http://localhost:4200
CORS_MAX_AGE=3600

# Mail Server
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

